</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% 
   var dt = new Date();
  %>
  <!-- document.write("getFullYear() : " + dt.getFullYear() ); -->
  <p>Copyright © <%= dt.getFullYear() %></p>
</footer>
</body>

</html>